{% extends 'Assistant/base.html' %}

{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="my-5" style = "font-family:times new Roman;"></h3>
    <div class="card text-center" style = "height : 450px; font-family:times new Roman; margin-left : 33px; width : 1250px;">
        <div class="card-header" style = "font-size: 32px;">
          About Us
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Voice assistants engage users like no other interface. Users can speak to the applications naturally to ask for whatever they'd like and can do so while multitasking. This also reduces the cognitive effort for the user to get what they want from the application, and applications that take advantage of voice assistants are seen as easier to use than applications that do not. </p>
          <p class="card-text">So we started to bring a like that project which is useful for our comfort or things. So as a final year project we introduce a new one application as Poornima Assistant. Thank You!!</p>
          <p class="card-text">With a voice assistant in our application, users are able to ask for exactly what they want and get help when they need it. This is a natural way for users to discover your application value and for you to make the perfect first impression. Voice also guides the user during the initial onboarding flow to prevent single-use drop-offs and bring every user to the “wow” moment of your application faster. Voice assistants are able to be personalized for every user, in any application workflow or scenario. Voice assistants are able to understand the voice and visual context of applications and respond best to the user that fits that situation.</p>
          {% comment %} <a href="#" class="btn btn-primary">Signup</a> {% endcomment %}
          <a class="btn btn-primary" href= '/home/' style = "font-family:times new Roman; height: 40px; background-color: black;">Home</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>

{% endblock content %}

