{% extends 'Assistant/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5" style = "font-family:times new Roman;"></h3>
</div>
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info"  style = "font-family:times new Roman; background-color: black; color: white;">Add the Monthly Details</h4>
        <form action="" method = 'POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add" style = "font-family:times new Roman; background-color: black; color: white;">
            <a href="{% url 'news' %}" class="btn btn-primary" style = "font-family:times new Roman; background-color: black; color: white;">Back To News</a>
        </form>

    </div>

    <div class="class col-sm-7 offset-1">
        <h4 class="text-center alert alert-info" style = "font-family:times new Roman; background-color: black; color: white;">Show Calendar Information</h4>
        {% if ntu %}
            <table class="table table-hover" style = "font-family:times new Roman; background-color: grey; color: white; border: 1px solid black;">
                <thead>
                    <tr style = "font-family: times new roman; font-family:times new Roman; background-color: grey; color: white;">
                        <th scope="col"  style = "font-family:times new Roman; background-color: grey; color: black; font-size: 16px;">Id</th>
                        <th scope="col"  style = "font-family:times new Roman; background-color: grey; color: black; font-size: 16px;">Month</th>
                        <th scope="col"  style = "font-family:times new Roman; background-color: grey; color: black; font-size: 16px;">Date</th>
                        <th scope="col"  style = "font-family:times new Roman; background-color: grey; color: black; font-size: 16px;">Purpose</th>
                        <th scope="col" style = "font-family:times new Roman; background-color: grey; color: black; font-size: 16px;">Edit</th>
                        <th scope="col" style = "font-family:times new Roman; background-color: grey; color: black; font-size: 16px;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for et in ntu %}
                        <tr>
                            <th scope="row">{{et.id}}</th>
                            <td>{{et.month}}</td>
                            <td>{{et.date}}</td>
                            <td>{{et.purpose}}</td>
                            <td>
                                <a href="{% url 'calenderupdatedata' et.id %}" class="btn btn-warning btn-sm" style = "font-family:times new Roman; background-color: black; color: white;">Edit</a>
                            </td>
                            <td>
                                <form action="{% url 'calenderdeletedata' et.id %}" method="post" class="d-inline" >
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger" value="Delete" style = "font-family:times new Roman; background-color: black; color: white; height: 34px;">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 text-center alert alert-warning>No Records</h4>
        {% endif %}
    </div>
</div>

{% endblock content %}

