{% extends 'Assistant/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5" style = "font-family:times new Roman;"></h3>
        <div class="card-header" style = "font-size: 25px; background-color : black; color : white; font-family : times new roman;">
            Computer Engineering
    
        </div>
            <div class = "row" style = "background-color : grey; width :  1076; height:300px; margin-left : -1px; margin-top: 4px;">
                <div class = "col-sm-8" style = "background-color : grey; height : 300px; width : 845px;">
                <p style = "color : black; margin-top : 45px; font-size : 19px; font-family : times new roman; text-align : justify;">To create an environment in which new ideas, research and technology develop and the technocrats and innovators of tomorrow become competent to face the global challenges. To develop competent professional with innovative mindset, problem solving, design and implementation skills through excellent education. To provide platform so that undergraduates can expertise as a computer professional, entrepreneurs or as a manager while fulfilling their ethical and social responsibilities in a globally competitive environment.To contribute significantly to the research and discovery of new arenas of methods and knowledge in the field of computer engineering.

                </p>
                </div>
    
                <div class = "col-sm-3" style = "background-color : grey; height : 300px; width : 45px;">
                <img class="card-img-top" src="{% static 'Assistant/img/ce.jpg' %}" alt="Card image cap" style="width: 186px; height: 186px; margin-top: 52px;">
                <div class="card-body" style = 'height : 140px;'>
                    <h6 class="card-title" style = "color : black; font-family : times new roman;"><marquee>Computer Engineering</marquee></h6>
                </div>
                </div>
            </div>

            <div class="card-header" style = "font-size: 25px; background-color : black; color : white; font-family : times new roman;">
                Civil Engineering
        
            </div>
                <div class = "row" style = "background-color : grey; width :  1076; height:300px; margin-left : -1px; margin-top: 4px;">
                    <div class = "col-sm-8" style = "background-color : grey; height : 300px; width : 845px;">
                    <p style = "color : black; margin-top : 45px; font-size : 19px; font-family : times new roman; text-align : justify;">The Department of Civil Engineering has an excellent and rich history and an outstanding record of contributions to the profession and community. The department is well recognized for excellence in facilities and teaching. Department offers B.Tech. programs in the area of Civil Engineering. The aim of these programs is to enable students to acquire specialized knowledge related to various technologies in Civil Engineering, as well as to enrich the student's personal, social and cognitive development to meet challenges of today and tomorrow.
    
                    </p>
                    </div>
        
                    <div class = "col-sm-3" style = "background-color : grey; height : 300px; width : 45px;">
                        <img class="card-img-top" src="{% static 'Assistant/img/civil.jpg' %}" alt="Card image cap" style="width: 186px; height: 186px; margin-top: 52px;">
                        <div class="card-body" style = 'height : 140px;'>
                            <h6 class="card-title" style = "color : black; font-family : times new roman;"><marquee>Civil Engineering</marquee></h6>
                        </div>
                    </div>
                </div>
       
                <div class="card-header" style = "font-size: 25px; background-color : black; color : white; font-family : times new roman;">
                    Electrical Engineering
            
                </div>
                    <div class = "row" style = "background-color : grey; width :  1076; height:300px; margin-left : -1px; margin-top: 4px;">
                        <div class = "col-sm-8" style = "background-color : grey; height : 300px; width : 845px;">
                        <p style = "color : black; margin-top : 45px; font-size : 19px; font-family : times new roman; text-align : justify;">The Department of Electrical Engineering is started in year 2007 with an intake 60 students. The Department of Electrical Engineering is a blend of teaching and research activities pertaining to Electrical Engineering prospective. At present the Department offers B. Tech. degree in Electrical Engineering as per Rajasthan Technical University prospective. The diversity is reflected in the breadth of theoretical and laboratory courses that are on offer and the research activities of the faculty members. The Department firmly believes in imparting a strong hands-on flavor to the courses that a student takes, and therefore places emphasis on the laboratory component, internships and projects.
        
                        </p>
                        </div>
            
                        <div class = "col-sm-3" style = "background-color : grey; height : 300px; width : 45px;">
                            <img class="card-img-top" src="{% static 'Assistant/img/ee.jpg' %}" alt="Card image cap" style="width: 186px; height: 186px; margin-top: 52px;">
                            <div class="card-body" style = 'height : 140px;'>
                                <h6 class="card-title" style = "color : black; font-family : times new roman;"><marquee></marquee></h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-header" style = "font-size: 25px; background-color : black; color : white; font-family : times new roman;">
                        Department of Electronics & Communication Engineering
                
                    </div>
                        <div class = "row" style = "background-color : grey; width :  1076; height:300px; margin-left : -1px; margin-top: 4px;">
                            <div class = "col-sm-8" style = "background-color : grey; height : 300px; width : 845px;">
                            <p style = "color : black; margin-top : 45px; font-size : 19px; font-family : times new roman; text-align : justify;">The department of Electronics and Communication Engineering (ECE) started in 2019 under School of Engineering and Technology. The primary goal to start this program is to produce highly skilled young engineers so that they can contribute in the various industry and academy jobs. Our course curricular is designed in such a way that the students can get a strong foundation in both theoretically and practically in the field of ECE. Presently, the department offers 4-years undergraduate program (B.Tech in ECE). The department is well equipped with modern laboratory equipment’s. The department has dedicated faculty members engaged to enhance the knowledge, skill & talents of the students.
            
                            </p>
                            </div>
                
                            <div class = "col-sm-3" style = "background-color : grey; height : 300px; width : 45px;">
                                <img class="card-img-top" src="{% static 'Assistant/img/ee.jpg' %}" alt="Card image cap" style="width: 186px; height: 186px; margin-top: 52px;">
                                <div class="card-body" style = 'height : 140px;'>
                                    <h6 class="card-title" style = "color : black; font-family : times new roman;"><marquee>Civil Engineering</marquee></h6>
                                </div>
                            </div>
                        </div>
        <center>
            <a href="{% url 'profile' %}" class="btn btn-primary" style = "font-family:times new Roman; background-color: black; color: white; margin-top:1px;">Back To Profile</a>
        </center>
    </center>
</div>

{% endblock content %}

