{% extends 'Assistant/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-5" style = "font-family:times new Roman;"></h3>
        {% comment %} <center>
            <a href="{% url 'profile' %}" class="btn btn-primary" style = "font-family:times new Roman; background-color: black; color: white; margin-top:55px;">Back To Profile</a>
        </center> {% endcomment %}
    <center>
        <div></div>
        <div class="card-header" style = "font-size: 25px; background-color : black; color : white; font-family : times new roman;">
            Facilities at Poornima Institute of Engineering & Technology
        </div>
    </center>
        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Laboratories
                </button>
            </p>
          <div class="collapse multi-collapse" id="collapseExample">
            <div class="card card-body" style = "font-family : times and new roman;">
                It’s a part of academics where all facilities are provided with updated technologies and equipments. The significance of R&D can be highlighted as:
                To promote research and development activities in the institution.
                To equip the students and the faculty members with latest advancement in the technological areas.
                To provide engineering consultancy and research in innovative areas.
                To enhance the engineering education with research orientation fulfilling the technical needs of industries.
                Machine Drawing Lab, Physics Lab, Computer Lab, Language Lab for the 1st year department.
                Online examination lab is located on the ground oor of the new building.
                IBM Lab for research on Business Intelligence and Cloud Computing is located on the second floor of the Engineering block.
                
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Library : Soul Of PIET
                </button>
            </p>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body" style = "font-family : times and new roman;">
                The PIET Central Library supports the teaching and research programmes of the Institute and provides facilities for general reading and disseminates information according to the requirement of the users The Library is an organized collection of the source of information and similar made accessible to a defined branch for reference or borrowing. It provides physical material and digital access to the material and physical building. PIET library’s collection included book, periodicals, newspapers CD.DVD and Other formats are a primary resource for getting information.

                The mission of PIET library and Learning Resources Center is to support the Institute mission in identifying, organizing, preserving and offering accessible resources which serve the needs of college Faculty/staff members and students at large. In addition, the library seeks to locate, acquire, organize and select the most appropriate material and make it accessible to the users. It is also the mission of the library to build a comprehensive, balanced library collection and provide a good environment for reading, learning, and research. The upgrading and preserving of the library’s information technology infrastructure to ensure prompt access to information and information services are also among the PIET library mission priorities.

                The PIET Library provides a welcoming learning environment for students and staff, not only supports the College’s aims and curriculum also encourages the love of reading and the development of students’ independent learning skills.
                
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Auditorium
                </button>
            </p>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body" style = "font-family : times and new roman;">
                The most earning weather of all the feathers of PF block is ARBUDA CONVENTION CENTRE located at PIET Campus. It is a well air-conditioned auditorium having a seating capacity of over 500 people. It is equipped with the fully operational technical advancement of multimedia and graphics & sound proof audiovideo facilities. All the presentations, seminars, conferences and other pragmatic plans are organized here. Altogether, almost all the essential academic and nonacademic activities / events are organized in this auditorium which enlivens the audience, organizers, and the participants as well. There is an examination hall above the auditorium which also comprises of 6 group discussion rooms and 3 Personal Interview rooms which make possible the ideal setting for carrying out various examinations and conduction of different training and placement sessions for the final and pre-final year candidates.                
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Transportation
                </button>
            </p>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body" style = "font-family : times and new roman;">
                Biggest fleet of 10 new Swaraj Mazda buses operating from all corners of Jaipur owned by PIET.
                Well coordinated, time bounded and regular service available throughout the year.Separate buses for staff and students.Bus facility for Industrial visit.Bus facility to take students to examination centers.Full provision of back up service to avoid any breakdown.Free Transport facility to employees.
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Mess/Canteen/Provision Store
                </button>
            </p>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body" style = "font-family : times and new roman;">
                Canteen: 200 Students Mess: 500 Students
                Kitchen equipped with chapatti maker machine, deep freezer, grinder and other modern kitchen aids.
                The College Campus offers an excellent choice of food to eat. Each campus houses a Campus Canteen, which offer delicious food, superior services with innovative practices.
                The eating joints offer excellent multi-cuisine menus ranging from Indian to Continental and Chinese in a comfortable and vibrant ambience.
                One can find enormous range of recipes from pizza to idli-sambhar or even the spicy parathas and bhel puri as well as varied range of sandwiches, snaks, fresh fruits, cakes etc.
                Wide variety of fresh juices, cold coffee, milk shakes, and other beverages are also available.
                Apart from providing places where one can eat and enjoy, the eating joints also help to provide hands-on experience and entrepreneurial opportunities to the budding entrepreneurs at PIET by giving them opportunity to manage and run some of these eating joints independently as well as under some guidance.
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Basketball/Volleyball court
                </button>
            </p>
          <div class="collapse" id="collapseExample5">
            <div class="card card-body" style = "font-family : times and new roman;">
                The new building also comprises of an open theatre area including well-facilities like canteen, a Basketball court and Volleyball court.
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Gym Facility
                </button>
            </p>
          <div class="collapse" id="collapseExample6">
            <div class="card card-body" style = "font-family : times and new roman;">
                Multi facility gym for every hostel campus has been provided which is fully equipped to keep the students fit and healthy.
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Medical Facility
                </button>
            </p>
          <div class="collapse" id="collapseExample7">
            <div class="card card-body" style = "font-family : times and new roman;">
                MOU with MGH for all medical facilities (0.5 km far from institute)
                Equipped Medical Room
                Dedicated vehicle in campus
                Routine checkup by Medical practitioner
            </div>
          </div>
        </div>

        <div class="row" style = "margin-top : 15px;">
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample" style = "background-color : black; font-family : times and new roman;">
                Solar Water Health
                </button>
            </p>
          <div class="collapse" id="collapseExample8">
            <div class="card card-body" style = "font-family : times and new roman;">
                24000 Litre/day.
            </div>
          </div>
        </div>
    <div class = "row" style = "width : 1250px; height : 100px;">
        <center>
            <a href="{% url 'home' %}" class="btn btn-primary" style = "font-family:times new Roman; background-color: black; color: white; margin-top:10px; ">Back To Home</a>
        </center>
    </div>


   
</div>

{% endblock content %}

