{% extends 'Assistant/base.html' %}
{% block content %}
    <div class="row">
        <div class="col sm-8 offset-2">
            <h4 class="alert alert-info" style = "font-family:times new Roman; background-color: black; color: white; margin-top:30px; margin-top:30px;">Update Notice</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-success" value="Update" style = "font-family:times new Roman; background-color: black; color: white; margin-top:30px;">
                <a href="{% url 'notice' %}" class="btn btn-info" style = "font-family:times new Roman; background-color: black; color: white; margin-top:30px;">Back To Notice  </a>
            </form>
        </div>
    </div>
{% endblock content %}
