{% extends 'Assistant/base.html' %}

{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="my-4" style = "font-family:times new Roman;">Profile</h3>
    <form action="" method = "POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Add" style = "font-family: times new roman; width:55px; height:40px; border-radius:5px; background-color: black; color:white;">
        {% comment %} <button type="button" class="btn btn-info" style = "font-family: times new roman; width:75px; height: 35px;">Modify {% endcomment %}
        <a class="btn btn-primary" href= '/update/' style = "font-family:times new Roman; height: 40px; background-color: black; color: white;">Modify</a>
        
        </button>    
    </form>
    

</div>
      
    {% comment %} <input type="submit" value="Add" style = "margin-top : 10px; border-radius : 5px; font-family : times new roman;"> {% endcomment %}

{% endblock content %}

